<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="IonPrincipal">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-img">
              <div>
                <img src="assets/img/UNAB_Logo.png" alt="Logo" style="height: 100px;">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="onProfesorClick()">Profesor</ion-button> 
            </ion-col>      
          </ion-row>
        </ion-grid>   
        
        <ion-row>
          <ion-col class="imgioncol">
            <a href="/estudiante">
              <img src="assets/img/Con_Saturacion.png" class="imgSatuacion" alt="">
            </a>            
          </ion-col>
          <ion-col class="imgioncol">
            <a href="/estudiante-sso">
              <img src="assets/img/Sin_Saturacion.png" class="imgSatuacion">
            </a>            
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>