<ion-header [translucent]="true">
  <ion-grid class="gridHeader">
    <ion-row>

      

      <ion-col size="12" size-md="10">
        <ion-toolbar>
          <h1>Bienvenido profesor {{nombreProfesor}}</h1>
          <h6>{{materia}}</h6>
          <h6>Fecha de acceso: {{fechaAcceso}}</h6>
        </ion-toolbar>
      </ion-col>

      <ion-col size="12" size-md="2" class="encabezado">
        <div class="iconos-con-contrasena">
          <ion-row class="fila-iconos">

            <ion-col class="colConexion">
              <ion-icon
                id="icono-conexion" 
                class="conexcion" 
                name="wifi-outline" 
                [class.on]="isOn" 
                (click)="toggleConnection()">
              </ion-icon>
            </ion-col>
            
            <ion-col class="colConexion">
              <ion-icon 
                id="icono-bloqueo" 
                class="bloqueoConexion" 
                [class.locked]="isLocked"
                name="lock-closed-outline"
                (click)="toggleLock()">
              </ion-icon>
            </ion-col>

            <ion-col class="colConexion">
              <ion-icon
                class="refresco"
                id="icono-bloqueo"  
                name="refresh-circle-outline"
                [class.spin]="actualizando"
                (click)="actualizarConexiones()">
              </ion-icon>
            </ion-col>
            

          </ion-row>

          <ion-col class="colContraseña">
            <div class="contenedor-codigo">
              <h6 class="texto-conexion">Conexión: </h6>
              <h6 class="codigo-generado" *ngIf="isOn">{{ generatedCode }}</h6>
            </div>
          </ion-col>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-header>

<ion-content id="contedio_principal" class="contect">
  <ion-grid id="Grid_Titulos">
    <ion-row>
        <ion-col>
          <h5>Grupos</h5>
        </ion-col>
        <ion-col>
          <h5>Control Temperatura C°</h5>
        </ion-col>
        <ion-col>
          <h5>T° corporal</h5>
        </ion-col>
        <ion-col>
          <h5>Saturacion%</h5>
        </ion-col>
        <ion-col>
          <h5>Peso en Kg</h5>
        </ion-col>
        
        <ion-col>
          <h5>Modo Seleccion</h5>
        </ion-col>
        <ion-col>
          <ion-button class="RandomButton" (click)="generarValoresAleatorios()">Random</ion-button>
          <ion-button (click)="enviarTodo()">Enviar todo</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngFor="let grupo of grupos; let i = index">
      <ion-row>
        <ion-col>
          <h5>{{grupo.nombre}}</h5>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder="Control T°" [(ngModel)]="grupo.controlTempe"></ion-input>
        </ion-col>


        <ion-col>
          <ion-input type="number" placeholder="T° Corporal" [(ngModel)]="grupo.tempCorporal"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder="Saturacion" [(ngModel)]="grupo.saturacion"></ion-input>
        </ion-col>

        <ion-col>
          <ion-input type="number" placeholder="Peso Kg" [(ngModel)]="grupo.pesoKg"></ion-input>
        </ion-col>
        
        <ion-col>
          <ion-item>
            <ion-select [(ngModel)]="grupo.modoSeleccion" interface="popover" placeholder="Modo Seleccion">
              <ion-select-option value="Precalentado">Pre Calentado</ion-select-option>
              <ion-select-option value="Manual">Manual</ion-select-option>
              <ion-select-option value="Bebe">Bebe</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-row>
          
        </ion-row>
        <ion-col class="centrado">
          <ion-button 
            id="BotonEnviar" 
            class="Enviar_01" 
            color="success" 
            (click)="sendDataToGroup(i)"  
            [disabled]="grupo.sending">Enviar
          </ion-button>

          <ion-button 
            id="BotonEnviar" 
            class="Enviar_01" 
            color="success" 
            (click)="generarReporteIndividual(i)">Excel
          </ion-button>

          <ion-icon 
            class="candado" 
            name="lock-closed-outline"
            [class.remote-locked]="remoteLockActive"  
            (click)="toggleRemoteLock()">            
          </ion-icon>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="ContadorConexion"  size="3">
        <h6>Están: {{ gruposConectados }} grupos conectados</h6>
      </ion-col>
      <ion-col size="6">
        <h6></h6>
      </ion-col>
      <ion-col class="PDF_General" size="3">
        <ion-button class="documento" color="danger" (click)="generarReporteGeneral()">Reporte</ion-button>
      </ion-col>
    </ion-row>    
  </ion-toolbar>
</ion-footer>
